<script setup lang="ts">
import { useLoadingStore } from '@/stores/loading';
import { nextTick, onMounted, ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { useMaterialStore } from '@/stores/material';
import type { Material } from '@/types/Material';

const materialStore = useMaterialStore()

const headers = [
    {
        title: 'Id',
        key: 'id',
        value: 'id'
    },
    {
        title: 'Name',
        key: 'name',
        value: 'name'
    },
    {
        title: 'Price',
        key: 'price',
        value: 'price'
    },
    {
        title: 'Quantity',
        key: 'qty',
        value: 'qty'
    },
    {
        title: 'Minimum',
        key: 'min',
        value: 'min'
    },
    {
        title: 'Unit',
        key: 'unit',
        value: 'unit'
    },
    
    { title: 'Actions', key: 'actions', sortable: false }
]

const loadingStore = useLoadingStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)

let editedIndex = -1
let lastId = 7
function onSubmit() { }

function closeDelete() {
    dialogDelete.value = false
    nextTick(() => {
        materialStore.clearForm()
    })
}
async function deleteItemConfirm() {
    // Delete item from list
    await materialStore.deleteMaterial()
    closeDelete()
}

async function editItem(item: Material) {
    if (!item.id) return
    // editedIndex = products.value.indexOf(item)
    await materialStore.getMaterial(item.id)
    dialog.value = true
}
async function deleteItem(item: Material) {
    if (!item.id) return
    // editedIndex = products.value.indexOf(item)
    await materialStore.getMaterial(item.id)
    dialogDelete.value = true
    editedIndex = -1
}
function closeDialog() {
    dialog.value = false
    nextTick(() => {
        materialStore.clearForm()
    })
}
async function save() {
    const { valid } = await refForm.value!.validate()
    if (!valid) return

    await materialStore.saveMaterial()
    closeDialog()
}


onMounted(() => {
    materialStore.getMaterials()
})

</script>

<template>
    <div>
        <v-data-table :headers="headers" :items="materialStore.materials">
            <template v-slot:top>
                <v-toolbar flat style="background-color: whitesmoke">
                    <v-toolbar-title>Material</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <!-- Put Edited Dialog -->
                    <v-dialog v-model="dialog" persistent width="1024">
                        <template v-slot:activator="{ props }">
                            <v-btn color="primary" v-bind="props">
                                <v-icon left>mdi-store-plus</v-icon> Add Material
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="text-h5">Material</span>
                            </v-card-title>
                            <v-card-text>
                                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="materialStore.editedMaterial.name" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Name"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="materialStore.editedMaterial.price" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Price"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="6">
                                                <v-text-field v-model="materialStore.editedMaterial.qty" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Quantity"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="6">
                                                <v-text-field v-model="materialStore.editedMaterial.min" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Minimum"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="6">
                                                <v-text-field v-model="materialStore.editedMaterial.unit" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Unit"></v-text-field>
                                            </v-col>
                                        </v-row>
                                    </v-container>

                                </v-form>
                                <small>*Indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" variant="text" @click="closeDialog()">
                                    Close
                                </v-btn>
                                <v-btn color="primary" variant="text" @click="save()">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <!-- Delete Dialog -->
                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" variant="text" @click="closeDelete">Cancel</v-btn>
                                <v-btn color="primary" variant="text" @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
                <v-icon size="small" class="me-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon size="small" @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary" @click="materialStore.getMaterial">
                    Reset
                </v-btn>
            </template></v-data-table>
    </div>
</template>