<script setup lang="ts">
import { useLoadingStore } from '@/stores/loading';
import { nextTick, onMounted, ref } from 'vue';
import type { VForm } from 'vuetify/components';
import { useProductStore } from '@/stores/product';
import type { Product } from '@/types/Product';
import http from '@/services/http'
import productService from '@/services/product'

const productStore = useProductStore()

const headers = [
    {
        title: 'Id',
        key: 'id',
        value: 'id'
    },
    {
        title: 'Name',
        key: 'name',
        value: 'name'
    },
    {
        title: 'Price',
        key: 'price',
        value: 'price'
    },
    {
        title: 'Type',
        key: 'type',
        value: 'type'
    },
    {
        title: 'SubCategory',
        key: 'subCategory',
        value: 'subCategory'
    },
    // {
    //     title: 'SweetLevel',
    //     key: 'sweetLevel',
    //     value: 'sweetLevel'
    // },
    { title: 'Actions', key: 'actions', sortable: false }
]

const loadingStore = useLoadingStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)

let editedIndex = -1
let lastId = 7
function onSubmit() { }

function closeDelete() {
    dialogDelete.value = false
    nextTick(() => {
        productStore.clearForm()
    })
}
async function deleteItemConfirm() {
    // Delete item from list
    await productStore.deleteProduct()
    closeDelete()
}

async function editItem(item: Product) {
    if (!item.id) return
    // editedIndex = products.value.indexOf(item)
    await productStore.getProduct(item.id)
    dialog.value = true
}
async function deleteItem(item: Product) {
    if (!item.id) return
    // editedIndex = products.value.indexOf(item)
    await productStore.getProduct(item.id)
    dialogDelete.value = true
    editedIndex = -1
}
function closeDialog() {
    dialog.value = false
    nextTick(() => {
        productStore.clearForm()
    })
}
async function save() {
    const { valid } = await refForm.value!.validate()
    if (!valid) return

    await productStore.saveProduct()
    closeDialog()
}


onMounted(() => {
    productStore.getProducts()
})

</script>

<template>
    <div>
        <v-data-table :headers="headers" :items="productStore.products">
            <template v-slot:top>
                <v-toolbar flat style="background-color: whitesmoke">
                    <v-toolbar-title>Product</v-toolbar-title>
                    <v-divider class="mx-4" inset vertical></v-divider>
                    <v-spacer></v-spacer>
                    <!-- Put Edited Dialog -->
                    <v-dialog v-model="dialog" persistent width="1024">
                        <template v-slot:activator="{ props }">
                            <v-btn color="primary" v-bind="props">
                                <v-icon left>mdi-store-plus</v-icon> Add Product
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="text-h5">Product</span>
                            </v-card-title>
                            <v-card-text>
                                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="productStore.editedProduct.name" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Name"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="12" md="4">
                                                <v-text-field v-model="productStore.editedProduct.price" :readonly="loading"
                                                    :rules="[(v: any) => !!v || 'Field is required']" class="mb-2" clearable
                                                    label="Price"></v-text-field>
                                            </v-col>
                                            <v-col cols="12" sm="6">
                                                <v-combobox label="Type" :items="['Drink', 'Bakery', 'Food']"
                                                    v-model="productStore.editedProduct.type"></v-combobox>
                                            </v-col>
                                            <v-col cols="12" sm="6">
                                                <v-combobox label="Subcategory"
                                                    :items="productStore.getSubcategories(productStore.editedProduct.type)"
                                                    v-model="productStore.editedProduct.subCategory"></v-combobox>
                                            </v-col>
                                        </v-row>
                                    </v-container>

                                </v-form>
                                <small>*Indicates required field</small>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" variant="text" @click="closeDialog()">
                                    Close
                                </v-btn>
                                <v-btn color="primary" variant="text" @click="save()">
                                    Save
                                </v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                    <!-- Delete Dialog -->
                    <v-dialog v-model="dialogDelete" max-width="500px">
                        <v-card>
                            <v-card-title class="text-h5">Are you sure you want to delete this item?</v-card-title>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" variant="text" @click="closeDelete">Cancel</v-btn>
                                <v-btn color="primary" variant="text" @click="deleteItemConfirm">OK</v-btn>
                                <v-spacer></v-spacer>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:[`item.actions`]="{ item }">
                <v-icon size="small" class="me-2" @click="editItem(item)">
                    mdi-pencil
                </v-icon>
                <v-icon size="small" @click="deleteItem(item)">
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary" @click="productStore.getProducts">
                    Reset
                </v-btn>
            </template></v-data-table>
    </div>
</template>