<script setup lang="ts">
import { useLoadingStore } from '@/stores/loading'
import { nextTick, onMounted, ref } from 'vue'
import type { VForm } from 'vuetify/components'
import { useProductStore } from '@/stores/product'
import type { Product } from '@/types/Product'
import http from '@/services/http'
import productService from '@/services/product'
import { usePromotionStore } from '@/stores/promotion'
import type { Promotion } from '@/types/Promotion'

const productStore = useProductStore()

const headers = [
  {
    title: 'Id',
    key: 'id',
    value: 'id'
  },
  {
    title: 'Name',
    key: 'name',
    value: 'name'
  },
  {
    title: 'Discount',
    key: 'discount',
    value: 'discount'
  },
  {
    title: 'usePoint',
    key: 'usePoint',
    value: 'usePoint'
  },
  {
    title: 'Limit',
    key: 'limit',
    value: 'limit'
  },
  { title: 'Actions', key: 'actions', sortable: false }
]

const promotionStore = usePromotionStore()
const form = ref(false)
const refForm = ref<VForm | null>(null)
const dialog = ref(false)
const dialogDelete = ref(false)
const loading = ref(false)

let editedIndex = -1
let lastId = 7
function onSubmit() {}

function closeDelete() {
  dialogDelete.value = false
  nextTick(() => {
    promotionStore.clearForm()
  })
}
async function deleteItemConfirm() {
  // Delete item from list
  await promotionStore.deletePromotion()
  closeDelete()
}

async function editItem(item: Promotion) {
  if (!item.id) return
  // editedIndex = products.value.indexOf(item)
  // await productService.getProduct(item.id)
  await promotionStore.getPromotion(item.id)
  dialog.value = true
}

async function deleteItem(item: Promotion) {
  if (!item.id) return
  // editedIndex = products.value.indexOf(item)
  // await productStore.getProduct(item.id)
  await promotionStore.getPromotion(item.id)
  dialogDelete.value = true
  editedIndex = -1
}

function closeDialog() {
  dialog.value = false
  nextTick(() => {
    // productStore.clearForm()
    promotionStore.clearForm()
  })
}
async function save() {
  const { valid } = await refForm.value!.validate()
  if (!valid) return

  // await productStore.saveProduct()
  await promotionStore.savePromotion()
  closeDialog()
}

onMounted(() => {
  promotionStore.getPromotions()
})
</script>

<template>
  <div>
    <v-data-table :headers="headers" :items="promotionStore.promotions">
      <template v-slot:top>
        <v-toolbar flat style="background-color: whitesmoke">
          <v-toolbar-title>Promotion</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <!-- Put Edited Dialog -->
          <v-dialog v-model="dialog" persistent width="1024">
            <template v-slot:activator="{ props }">
              <v-btn color="primary" v-bind="props">
                <v-icon left>mdi-sale</v-icon> Add Promotion
              </v-btn>
            </template>
            <v-card>
              <v-card-title>
                <span class="text-h5">Promotion</span>
              </v-card-title>
              <v-card-text>
                <v-form ref="refForm" v-model="form" @submit.prevent="onSubmit">
                  <v-container>
                    <v-row>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="promotionStore.editedPromotion.name"
                          :readonly="loading"
                          :rules="[(v: any) => !!v || 'Field is required']"
                          class="mb-2"
                          clearable
                          label="Name"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-text-field
                          v-model="promotionStore.editedPromotion.discount"
                          :rules="[
                            (v: any) => !!v || 'Field is required',
                            (v: any) => v <= 100 || 'Value must not exceed 100',
                            (v: any) => /^\d+$/.test(v) || 'Must be a number'
                          ]"
                          class="mb-2"
                          clearable
                          label="Discount Percent"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="12" md="4">
                        <v-text-field
                          v-model="promotionStore.editedPromotion.usePoint"
                          :rules="[(v: any) => /^\d+$/.test(v) || 'Must be a number']"
                          class="mb-2"
                          clearable
                          label="Use Point"
                        ></v-text-field>
                      </v-col>
                      <v-col cols="12" sm="6">
                        <v-combobox
                          v-model="promotionStore.editedPromotion.limit"
                          :rules="[(v: any) => !v || /^\d+$/.test(v) || 'Must be a number']"
                          class="mb-2"
                          clearable
                          label="Limit Menu"
                        ></v-combobox>
                      </v-col>
                    </v-row>
                  </v-container>
                </v-form>
                <small>*Indicates required field</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" variant="text" @click="closeDialog()"> Close </v-btn>
                <v-btn color="primary" variant="text" @click="save()"> Save </v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <!-- Delete Dialog -->
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h5"
                >Are you sure you want to delete this item?</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" variant="text" @click="closeDelete">Cancel</v-btn>
                <v-btn color="primary" variant="text" @click="deleteItemConfirm">OK</v-btn>
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-icon size="small" class="me-2" @click="editItem(item)"> mdi-pencil </v-icon>
        <v-icon size="small" @click="deleteItem(item)"> mdi-delete </v-icon>
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="promotionStore.getPromotions"> Reset </v-btn>
      </template></v-data-table
    >
  </div>
</template>
