<!-- eslint-disable vue/no-parsing-error -->
<script setup lang="ts">
import { inject, type Ref } from 'vue'

const drawer = inject<Ref<boolean>>('drawer')
const rail = inject<Ref<boolean>>('rail')
</script>
<template>
  <v-navigation-drawer v-model="drawer" :rail="rail" permanent @click="rail = false">
    <v-list-item
      prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
      title="John Leider"
      nav
    >
      <template v-slot:append>
        <v-btn variant="text" icon="mdi-chevron-left" @click.stop="rail = !rail"></v-btn>
      </template>
    </v-list-item>

    <v-divider></v-divider>

    <v-list density="compact" nav>
      <v-list-item
        prepend-icon="mdi-package"
        title="Material"
        value="material"
        :to="{ path: '/material' }"
      ></v-list-item>
      <v-list-item 
      prepend-icon="mdi-account-group" 
      title="Member" 
      value="member" 
      :to="{ path: '/member' }">
    </v-list-item>
      <v-list-item
        prepend-icon="mdi-store-marker"
        title="Branch"
        value="branch"
        :to="{ path: '/branch' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-calculator"
        title="Bill"
        value="bill"
        :to="{ path: '/bills' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-coffee-maker"
        title="Product"
        value="product"
        :to="{ path: '/product' }"
      ></v-list-item>
      <v-list-item
        prepend-icon="mdi-sale"
        title="Promotion"
        value="promotion"
        :to="{ path: '/promotion' }"
      ></v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<!-- <v-list-item prepend-icon="mdi-book" title="Point of Sell" value="pos" :to="{ name: 'pos' }"></v-list-item>
      <v-list-item prepend-icon="mdi-home-city" title="Home" value="home" :to="{ name: 'home' }"></v-list-item>
      <v-list-item prepend-icon="mdi-account" title="Users" value="users" :to="{ name: 'users' }"></v-list-item>
      <v-list-item prepend-icon="mdi-information-variant-circle" title="About" value="about"
        :to="{ path: '/about' }"></v-list-item>
      <v-list-item prepend-icon="mdi-thermometer" title="Temperature" value="temperature"
        :to="{ path: '/temperature' }"></v-list-item>
       -->
